@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Almarena Neue", sans-serif;
  }
  
  p, span, div, button {
    font-family: 'Consolas', monospace;
  }
}
/* globals.css */
@font-face {
  font-family: 'Almarena Neue';
  src: url('./public/fonts/AlmarenaNeueDisplay-Medium.woff2') format('woff2');
  font-weight: normal;  /* Change from bold to normal */
  font-style: normal;
  font-display: swap;
}